Repository DRBC17/template-nestjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

.lintstagedrc:

{
  "*.{js,ts,md}": "prettier --write \"src/**/*.ts\" \"test/**/*.ts\"",
  "*.{js,ts}": ["eslint \"{src,apps,libs,test}/**/*.ts\" --fix"]
}

Feat .lintstagedrc Update terms
  .lintstagedrc
Due: none

refactor(pre-push): se desactivo temporalmente yarn test
  .husky/pre-push
Due: none

feat(docker-compose.yml): Add docker file
  .gitignore
  docker-compose.yml
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

build: added dependecies
  .env.template
  config/env.config.ts
  config/joi.validation.ts
  package.json
  src/app.module.ts
  src/main.ts
  yarn.lock
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

build(package.json) added dependecies
  package.json
  src/app.module.ts
  yarn.lock
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

feact(modules): import old modules
  package.json
  src/app.module.ts
  src/modules/users/dto/create-user.dto.ts
  src/modules/users/dto/update-user.dto.ts
  src/modules/users/entities/user.entity.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.module.ts
  src/modules/users/users.service.ts
  yarn.lock
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

docs(README.md): project information updated
  README.md
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

test(users): added user unit testing
  .husky/pre-push
  src/modules/users/entities/user.entity.ts
  src/modules/users/users.controller.spec.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.service.spec.ts
  src/modules/users/users.service.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

docs(README.md): change Project structure
  README.md
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

test: added unit testing and e2e
  config/index.ts
  package.json
  src/app.module.ts
  src/modules/users/users.controller.spec.ts
  src/modules/users/users.service.spec.ts
  src/modules/users/users.service.ts
  test/app.e2e-spec.ts
  test/modules/users.e2e-spec.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

docs(README.md): update documentation
  README.md
  src/app.module.ts
  src/config/env.config.ts
  src/config/index.ts
  src/config/joi.validation.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

docs(README.md): fix documentation
  README.md
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

test(users.e2e-spec.ts): update db name and add error-typeorm.interface.ts
  src/core/interfaces/error-typeorm.interface.ts
  src/modules/users/users.service.ts
  test/modules/users.e2e-spec.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

feat(module/user): update user module
  README.md
  src/app.module.ts
  src/common/common.module.ts
  src/common/dtos/pagination.dto.ts
  src/common/interfaces/error-typeorm.interface.ts
  src/modules/users/entities/user.entity.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.service.spec.ts
  src/modules/users/users.service.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

test(users module): update test unit and e2e
  src/modules/users/users.controller.ts
  src/modules/users/users.service.spec.ts
  src/modules/users/users.service.ts
  test/modules/users.e2e-spec.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

feat(user module): update service, controller and test
  package.json
  src/modules/users/entities/user.entity.ts
  src/modules/users/interfaces/user-response.interface.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.service.spec.ts
  src/modules/users/users.service.ts
  yarn.lock
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

refactor(user.entity.ts): update types of columns
  src/modules/users/entities/user.entity.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

fix(users.e2e-spec.ts): add mising property
  test/modules/users.e2e-spec.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

test(users.e2e-spec.ts): the spec logger was removed
  .husky/pre-push
  test/modules/users.e2e-spec.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

feat: update user module and create auth module
  package.json
  src/app.module.ts
  src/common/dtos/index.ts
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dto/index.ts
  src/modules/auth/dto/login-user.dto.ts
  src/modules/users/dto/create-user.dto.ts
  src/modules/users/dto/index.ts
  src/modules/users/dto/update-password.dto.ts
  src/modules/users/entities/user.entity.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.module.ts
  src/modules/users/users.service.spec.ts
  src/modules/users/users.service.ts
  test/modules/users.e2e-spec.ts
  yarn.lock
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

test(auth.controller.spec.ts): update auth providers
  src/modules/auth/auth.controller.spec.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

test(auth.service.spec.ts): update auth providers
  src/modules/auth/auth.service.spec.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

feat(auth module): add passport jwt method
  .vscode/settings.json
  package.json
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/interfaces/auth-response.interface.ts
  src/modules/auth/interfaces/jwt-payload.interface.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/users/entities/user.entity.ts
  src/modules/users/users.service.spec.ts
  test/modules/users.e2e-spec.ts
  yarn.lock
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

fix(auth.controller.ts): add 'jwt' to AuthGuard('jwt')
  src/modules/auth/auth.controller.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

feat(auth): add auth decorators and guards validations
  src/common/decorators/get-raw-headers.decorator.ts
  src/common/decorators/index.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/decorators/auth.decorator.ts
  src/modules/auth/decorators/get-user.decorator.ts
  src/modules/auth/decorators/index.ts
  src/modules/auth/decorators/role-protected.decorator.ts
  src/modules/auth/guards/index.ts
  src/modules/auth/guards/user-role.guard.ts
  src/modules/auth/interfaces/auth-response.interface.ts
  src/modules/auth/interfaces/index.ts
  src/modules/auth/interfaces/valid-roles.interface.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/users/entities/user.entity.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.module.ts
  src/modules/users/users.service.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix

refactor(pre-push): disabled test:e2e
  .husky/pre-push
Due: none

Update README.md
  README.md
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: update swagger docs and MTI licenses
  package.json
  src/main.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/decorators/auth.decorator.ts
  src/modules/auth/dto/login-user.dto.ts
  src/modules/users/dto/create-user.dto.ts
  src/modules/users/dto/update-password.dto.ts
  src/modules/users/dto/update-user.dto.ts
  src/modules/users/users.controller.ts
  third-party-licenses.md
  yarn.lock
Due: prettier --write "src/**/*.ts" "test/**/*.ts", eslint "{src,apps,libs,test}/**/*.ts" --fix
